#sidebar{
	width: 200px;
	background-color: rgb(223,179,87);
	height: 100%;
	border-right: 5px solid rgb(92,147,141);
	position: absolute;

}
#profile{
	padding-top: 50px;
	color: rgb(255, 241, 212);
}
.profile-pic{
	width: 75px;
	border:  3px solid  rgb(92,147,141);
	border-radius:  35px;
	display: block;
    margin-left: auto;
    margin-right: auto;}

.name{
	font-size: 1.5em;
	line-height: 60px;
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
	text-align: center;
}
hr{
	border-color: rgb(243, 204, 123);
	border-width: 1px;
}
.menu{
	vertical-align: middle;
	text-indent: 10px;
}
.menu a{
	width: 100%;
	display: block;
	line-height: 40px;
	color:rgb(255, 241, 212);
	letter-spacing: 2px;
}
.menu a:hover{
	text-decoration: none;
	background-color: rgb(224, 189, 116);
}
main{
	width: calc(100% - 200px);
}
td{
	text-align: center;
}